
<!DOCTYPE html>
<html lang='en'>

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <meta name="description" content="The personal website of
     visual effects artist Kyle Humphrey.">
     <title>
       Kyle Humphrey
     </title>
</head>
<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/tw.css">
<!-- Fontawesome -->
<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/all.css">


<body class="bg-white">
