{{ partial "top" . }}

<header class="pt-8 pb-12 text-2xl md:text-4xl">
  <div class="flex flex-wrap">
    <div class="font-a-bold text-blue-dark w-full lg:w-1/2 text-center lg:text-right pl-0 pr-0 lg:pr-1"><h1 class="text-2xl md:text-5xl ">Kyle Humphrey</h1></div>
    <div class="font-a-bold text-2xl md:text-5xl text-yellow-dark w-full lg:w-1/2 text-center lg:text-left pl-0 lg:pl-1 pr-0">Visual Effects Artist</div>
</header>

<main>

<section class="flex mb-0 bg-blue">
  <div class="flex-1">
    <figure><img src="spiderman.jpg" alt="Spider-man poster"></figure>
  </div>
  <div class="flex-1">
    <figure><img src="transylvania.jpg" alt="Hotel Transylvania 3 poster"></figure>
  </div>
  <div class="flex-1">
    <figure><img src="emoji.jpg" alt="The Emoji Movie poster"></figure>
  </div>
  <div class="flex-1">
    <figure><img src="storks.jpg" alt="Storks poster"></figure>
  </div>
  <div class="flex-1">
    <figure><img src="birds.jpg" alt="The Angry Birds Movie poster"></figure>
  </div>
  <div class="flex-1">
    <figure><img src="dog.jpg" alt="Rock Dog poster"></figure>
  </div>
  <div class="flex-1">
    <figure><img src="hero.jpg" alt="Big Hero 6 poster"></figure>
  </div>
  <div class="flex-1">
    <figure><img src="frozen.jpg" alt="Frozen poster"></figure>
  </div>
</section>

<section class="bg-blue leading-tight px-4 md:px-32 py-8 text-2xl md:text-5xl">
  <h2 class="font-a-bold font-bold text-3xl md:text-5xl text-white">
    Animation
  </h2>
  <div class="py-8">
    <span class="font-a-regular-italic text-blue-lighter">
      Spider-Man into the Spider-Verse
    </span>
    <span class="text-blue-dark">
      <i class="fas fa-film"></i>
    </span>
    <span class="font-a-bold text-yellow-light">
      Hotel Transylvania 3
    </span>
    <span class="text-blue-dark">
      <i class="fas fa-film"></i>
    </span>
    <span class="font-a-regular-italic italic text-blue-darkest">
      The Emoji Movie
    </span>
    <span class="text-blue-dark">
      <i class="fas fa-film"></i>
    </span>
    <span class="font-a-bold text-blue-lighter">
      Storks
    </span>
    <span class="text-blue-dark">
      <i class="fas fa-film"></i>
    </span>
    <span class="font-a-regular-italic text-blue-lightest">
      The Angry Birds Movie
    </span>
    <span class="text-blue-dark">
      <i class="fas fa-film"></i>
    </span>
    <span class="text-yellow">
      Rock Dog
    </span>
    <span class="text-blue-dark">
      <i class="fas fa-film"></i>
    </span>
    <span class="font-a-bold-italic text-blue-darker">
      Big Hero 6
    </span>
    <span class="text-blue-dark">
      <i class="fas fa-film"></i>
    </span>
    <span class="font-a-black text-yellow-dark">
      Frozen
    </span>
  </div>
</section>

<section class="bg-yellow leading-tight px-4 md:px-32 py-8 text-2xl md:text-5xl">
  <h2 class="font-a-bold text-3xl md:text-5xl text-blue-darkest">
    Live Action
  </h2>
  <div class="py-8">
    <span class="font-a-regular-italic text-blue-dark">
      Avengers: Age of Ultron
    </span>
    <span class="text-yellow-dark">
      <i class="fas fa-video"></i>
    </span>
    <span class="font-a-regular text-blue-darkest">
      Night at the Museum: Secret of the Tomb
    </span>
    <span class="text-yellow-dark">
      <i class="fas fa-video"></i>
    </span>
    <span class="font-a-bold-italic text-green-dark">
      Terminator Genisys
    </span>
  </div>
</section>

<section class="bg-green leading-tight px-4 md:px-32 py-8 text-2xl md:text-5xl">
  <h2 class="font-a-bold text-3xl md:text-5xl text-white">
    Employment
  </h2>
  <div class="py-8">
    <span class="font-a-bold text-yellow">
      Sony Pictures Imageworks
    </span>
    <span class="text-green-dark">
      <i class="fas fa-coffee"></i>
    </span>
    <span class="font-a-regular-italic italic text-green-darkest">
      Reel FX Animation Studios
    </span>
    <span class="text-green-dark">
      <i class="fas fa-coffee"></i>
    </span>
    <span class="font-a-regular text-green-lighter">
      Lola Visual Effects
    </span>
    <span class="text-green-dark">
      <i class="fas fa-coffee"></i>
    </span>
    <span class="font-a-regular text-yellow">
      Walt Disney Animation Studios
    </span>
    <span class="text-green-dark">
      <i class="fas fa-coffee"></i>
    </span>
    <span class="font-a-bold-italic italic text-green-darker">
      Superfad
    </span>
  </div>
</section>

<section class="bg-yellow leading-tight px-4 md:px-32 py-8 text-2xl md:text-5xl">
  <h2 class="font-a-bold text-3xl md:text-5xl text-green-darkest">
    Education
  </h2>
  <div class="py-8">
    <span class="font-a-regular-italic italic text-green-dark">
      Savannah College of Art and Design
    </span>
    <span class="text-yellow-dark">
      <i class="fas fa-graduation-cap"></i>
    </span>
    <span class="font-a-regular text-green-darkest">
      New York University
    </span>
  </div>
</section>

</main>

<footer class="bg-white leading-tight px-4 md:px-32 py-8 text-2xl md:text-5xl">
  <div class="py-8 text-blue text-center">
    <a href="https://www.instagram.com/lostwithoutshoes/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</footer>


{{ partial "bottom" . }}
